<div class="container">
  <h1>Categories</h1>

  <button class="btn btn-primary" onclick="CategoryService.openAddModal()">Add Category</button>

  <!-- Table -->
  <table id="categories-table"class="display table table-striped w-100"></table>

  <!-- Add Modal -->
  <div class="modal" id="addCategoryModal">
     <div class="modal-dialog">
       <div class="modal-content">
          <form id="addCategoryForm">
              <div class="modal-header"><h5>Add Category</h5></div>
              <div class="modal-body">

                  <input class="form-control mb-2" name="name" placeholder="Name">
                  <input class="form-control mb-2" name="description" placeholder="Description">

              </div>
              <div class="modal-footer">
                  <button class="btn btn-secondary" onclick="CategoryService.closeModal()">Close</button>
                  <button class="btn btn-primary" type="submit">Save</button>
              </div>
          </form>
       </div>
     </div>
  </div>

  <!-- Edit Modal -->
  <div class="modal" id="editCategoryModal">
      <div class="modal-dialog">
          <div class="modal-content">
              <form id="editCategoryForm">

                  <input type="hidden" id="edit_category_id" name="category_id">

                  <div class="modal-header"><h5>Edit Category</h5></div>
                  <div class="modal-body">

                      <input class="form-control mb-2" id="edit_name" name="name">
                      <input class="form-control mb-2" id="edit_description" name="description">

                  </div>
                  <div class="modal-footer">
                      <button class="btn btn-secondary" onclick="CategoryService.closeModal()">Close</button>
                      <button class="btn btn-primary" type="submit">Save</button>
                  </div>

              </form>
          </div>
      </div>
  </div>

   <!-- Delete Modal -->
  <div class="modal" id="deleteCategoryModal">
      <div class="modal-dialog">
          <div class="modal-content">

              <input type="hidden" id="delete_category_id">

              <div class="modal-body">Are you sure?</div>

              <div class="modal-footer">
                  <button class="btn btn-secondary" onclick="CategoryService.closeModal()">Close</button>
                  <button class="btn btn-danger" onclick="CategoryService.deleteCategory()">Delete</button>
              </div>

          </div>
      </div>
  </div>
</div>

<script>
  CategoryService.init();
</script>
